<div id="content" class="snap-content">

 

    <div class="content">
        <div class="decoration"></div>
        <div class="one-half-responsive">
            <h4>Send us an email!</h4>
            <p>Help us to get in touch with you </p>
            <div class="container no-bottom">
                <div class="contact-form no-bottom"> 
                    <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                        <div class="big-notification green-notification">
                            <h3 class="uppercase">Message Sent </h3>
                            <a href="#" class="close-big-notification">x</a>
                            <p>Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thank you!</p>
                        </div>
                    </div>

                    <form ng-cloak method="post" class="contactForm" id="contactForm" name="contactForm" novalidate ng-submit="submitContact()">
                        <fieldset>

                            <div class="formFieldWrap">
                                <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
                                <input type="text" name="contactNameField" placeholder="Required" ng-model="contactNameField" value="" class="contactField requiredField" id="contactNameField" required/>
                                <span style="color:red" ng-show="contactForm.contactNameField.$dirty && contactForm.contactNameField.$invalid">
                                    <span ng-show="contactForm.contactNameField.$error.required">First name is required.</span>
                                </span>   
                            </div>
                            <div class="formFieldWrap">
                                <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(required)</span></label>
                                <input type="email" name="contactEmailField" placeholder="Required" value="" ng-model="contactEmailField" class="contactField requiredField requiredEmailField" id="contactEmailField" required/>
                                <span style="color:red" ng-show="contactForm.contactEmailField.$dirty && contactForm.contactEmailField.$invalid">
                                    <span ng-show="contactForm.contactEmailField.$error.required">Email is required.</span>
                                    <span ng-show="contactForm.contactEmailField.$error.email">Invalid email address.</span>
                                </span> 
                            </div>
                            <div class="formTextareaWrap">
                                <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Message: <span>(required)</span></label>
                                <textarea name="contactMessageTextarea" placeholder="Required" ng-model="contactMessageTextarea" class="contactTextarea requiredField" required></textarea>
                                <span style="color:red" ng-show="contactForm.contactMessageTextarea.$dirty && contactForm.contactMessageTextarea.$invalid">
                                    <span ng-show="contactForm.contactMessageTextarea.$error.required">Message field is empty.</span>
                                </span> 

                            </div>
                            <div class="formSubmitButtonErrorsWrap">
                                <button type="submit" ng-disabled="contactForm.$invalid" class="buttonWrap button button-green contactSubmitButton" value="SUBMIT" data-formId="contactForm">SUBMIT</button>
                            </div>
                        </fieldset>
                    </form>       
                </div>
            </div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive last-column">
            <div class="container no-bottom">
            <!--     <h4>Contact Information</h4>
                <p>
                    <strong>Postal Information</strong><br>
                    PO Box 16122 Collins Street West<br>
                    Victoria 8007 Australia
                </p> -->

                <p>
                    <strong>Contact Information:</strong><br>
                   <!--  <a href="#" class="contact-call"><i class="fa fa-phone"></i>Phone: +91 9967532222</a> -->
                 
                    <a href="#" class="contact-mail"><i class="fa fa-envelope"></i>Email: info@SahRacingApp.in</a>

                </p>
            </div>            
        </div>
        <div class="decoration"></div>
    </div>

    <!-- Page Footer-->


</div>